@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-fam;
  width: 100vw;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: $purple;
  color: $lt-grey;
  padding: 15px 55px;
  h1 {
    font-weight: $light;
    span {
      color: $teal;
    }
  }
  .divider-line {
    display: none;
  }
  h2 {
    font-weight: $heavy;
  }
}

.pattern {
  display: flex;
  flex-direction: column;
  align-items: center;
  .divider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 55px;
    width: 100%;
    h3 {
      font-weight: $light;
    }
    .divider-line {
      background: $md-grey;
      height: 2px;
      width: 80%;
    }
  }
  .btn {
    background: $muted-purple;
    border: none;
    cursor: pointer;
    color: $lt-grey;
    font-size: 16pt;
    font-weight: $light;
    text-align: center;
    text-decoration: none;

    align-self: center;
    margin: 50px;
    padding: 10px;
    width: 300px;
  }
  // .cp_embed_wrapper {
  //   width: 100%;
  // }
}

@media screen and (max-width: 775px) {
  .page-header {
    flex-direction: column;
    .divider-line {
      display: inline-block;
      background: $drk-grey;
      height: 2px;
      margin: 20px 0;
      width: 30%;
    }
    h2 {
      font-size:14pt;
    }
  }
  .pattern {
    height: auto;
    padding-bottom: 50px;
    .divider {
      flex-direction: column;
      .divider-line {
        margin-top: 15px;
        width: 30%;
      }
    }
    .btn {
      width: 95%;
    }
  }
}

// ACCORDIAN TABS /////////////////////////////////////////////////////////////
.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  .tab {
    background: $lt-grey;
    border-left: 2px solid $white;
    color: $drk-grey;
    cursor: pointer;
    font-size: 18pt;
    font-weight: $light;
    text-align: center;

    padding: 15px 0;
    width: 25%;
    &:first-child {
      border-left: 2px solid $lt-grey;
    }
    .mobile-open {
      display: none;
    }
    &:hover {
      font-weight: $heavy;
    }
  }
  .tab.active-tab {
    background: $white;
    border: 2px solid $md-grey;
    border-bottom: 1px solid $white;
    font-weight: $heavy;

    margin-bottom: -3px;
    z-index: 10;
  }
  .tab.active-tab + .tab {
    border-left: 2px solid $lt-grey;
  }
}
.tab-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  .tab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid $md-grey;
    border: 2px solid $md-grey;
    width: 100%;
    .image {
      background: $lt-grey;
      border: 2px solid $md-grey;
      height: 400px;
      margin: 30px;
      width: 455px;
    }
    .text-container {
      display: flex;
      flex-direction: column;
      margin: 30px;
      width: 60%;
      h1 {
        border-bottom: 2px solid $md-grey;
        font-size: 18pt;
        font-weight: $heavy;
        margin: 25px 0;
        padding-bottom: 15px;
      }
      p {
        font-size: 14pt;
        font-weight: $light;
        margin: 10px 0;
      }
    }
  }
  .tab-content.none {
    display: none
  } 
  #tab-2 {
    background-image: url('http://lorempicsum.com/futurama/627/300/4');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .text-container {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      padding: 15px;
    }
  }
}

@media screen and (max-width: 775px) {
  .tabs-container {
    flex-direction: column;
    border: 2px solid $md-grey;
    width: 95%;
    .tab {
      position: relative;
      border: 2px solid $white;
      text-align: left;
      text-indent: 30px;
      width: 100%;
      .mobile-open {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
        background: $drk-grey;
        transition: 0.5s;
        height: 2px;
        width: 20px;
        .mobile-open {
          right: 0;
          top: 0;
          transform: rotate(90deg);

        }
      }
    }
    .tab.active-tab {
      border: 2px solid $white;
      margin: 0;
      padding-bottom: 0;
      z-index: 10;
      .mobile-open.mobile-open {
        transform: rotate(180deg);
      }
      .tab-content-container {
        margin: 20px 0 0;
        width: 100%;
        .tab-content {
          flex-direction: column;
          border: none;
          .image {
            margin: 0;
            width: 100%;
          }
          .text-container {
            width: 90%;
            h1, 
            p {
              color: black;
              text-indent: 0;
              margin: 0;
            }
            p {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

// FLEXIBLE CARDS /////////////////////////////////////////////////////////////
.Cards-container {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 85%;
  .card {
    border: 2px solid $md-grey;
    h2 {
      border-bottom: 2px solid $md-grey;
      padding: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $lt-grey;
      height: 150px;
    }
  }

  .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item-7 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 775px) {
  .Cards-container {
    display: flex;
    flex-direction: column;
    width: 95%;

    .card {
      margin: 10px 0;
    }
  }
}

// HEADER BAR /////////////////////////////////////////////////////////////
.Header-bar {
  width: 85%;
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background: $md-grey;
    font-size: 16pt;
    font-weight: $light;

    padding: 20px;
    .header-img {
      background: $lt-grey;
      border: 2px solid $drk-grey;
      border-radius: 100%;
      min-width: 75px;
      height: 75px;
    }
    .header-content {
      display: flex;
      .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
        min-width: 300px;
        .nav-item {
          cursor: pointer;
          color: $drk-grey;
          list-style: none;
          margin: 0 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            color: $lt-grey;
          }
        }
      }
      .search-bar {
        flex: none;
        background: $lt-grey;
        border: 2px solid $drk-grey;
        font-size: 16pt;
        
        padding-left: 15px;
        .fa-search {
          color: $drk-grey;
        }
        .search {
          background: $lt-grey;
          border: none;
          font-size: 16pt;
          font-weight: $light;

          padding: 10px;

        }
      }
    }
    .menu {
      display: none;
    }
  }
}

@media screen and (max-width: 775px) {
  .Header-bar {
    width: 95%;
    background: $lt-grey;
    .Header {
      justify-content: space-between;
      .header-content {
        display: none;
      }
      .menu {
        display: block;
        
        color: $drk-grey;
        cursor: pointer;
        font-weight: $light;
        &:hover {
          color: $lt-grey;
        }
      }
    }
    .header-content {
      flex-direction: column;
      .nav-links {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 235px;
        .nav-item {
          cursor: pointer;
          color: $drk-grey;
          font-size: 20pt;
          list-style: none;
          &:hover {
            font-weight: $heavy;
          }
        }
      }
      .search-bar {
        background: $lt-grey;
        border: 2px solid $drk-grey;
        font-size: 20pt;
        
        margin: 15px;
        padding-left: 15px;
        .fa-search {
          color: $drk-grey;
        }
        .search {
          background: $lt-grey;
          border: none;
          font-size: 20pt;
          font-weight: $light;

          padding: 10px;
        }
      }
    }
  }
}
