@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw; }

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2f2235;
  color: #f2f2f2;
  padding: 15px 55px; }
  .page-header h1 {
    font-weight: 300; }
    .page-header h1 span {
      color: #34d1d1; }
  .page-header .divider-line {
    display: none; }
  .page-header h2 {
    font-weight: 600; }

.pattern {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pattern .divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px;
    width: 100%; }
    .pattern .divider h3 {
      font-weight: 300; }
    .pattern .divider .divider-line {
      background: #d1d2d3;
      height: 2px;
      width: 80%; }
  .pattern .btn {
    background: #3f3244;
    border: none;
    cursor: pointer;
    color: #f2f2f2;
    font-size: 16pt;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    align-self: center;
    margin: 50px;
    padding: 10px;
    width: 300px; }

@media screen and (max-width: 775px) {
  .page-header {
    flex-direction: column; }
    .page-header .divider-line {
      display: inline-block;
      background: #666;
      height: 2px;
      margin: 20px 0;
      width: 30%; }
    .page-header h2 {
      font-size: 14pt; }
  .pattern {
    height: auto;
    padding-bottom: 50px; }
    .pattern .divider {
      flex-direction: column; }
      .pattern .divider .divider-line {
        margin-top: 15px;
        width: 30%; }
    .pattern .btn {
      width: 95%; } }

.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%; }
  .tabs-container .tab {
    background: #f2f2f2;
    border-left: 2px solid #fff;
    color: #666;
    cursor: pointer;
    font-size: 18pt;
    font-weight: 300;
    text-align: center;
    padding: 15px 0;
    width: 25%; }
    .tabs-container .tab:first-child {
      border-left: 2px solid #f2f2f2; }
    .tabs-container .tab .mobile-open {
      display: none; }
    .tabs-container .tab:hover {
      font-weight: 600; }
  .tabs-container .tab.active-tab {
    background: #fff;
    border: 2px solid #d1d2d3;
    border-bottom: 1px solid #fff;
    font-weight: 600;
    margin-bottom: -3px;
    z-index: 10; }
  .tabs-container .tab.active-tab + .tab {
    border-left: 2px solid #f2f2f2; }

.tab-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%; }
  .tab-content-container .tab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #d1d2d3;
    border: 2px solid #d1d2d3;
    width: 100%; }
    .tab-content-container .tab-content .image {
      background: #f2f2f2;
      border: 2px solid #d1d2d3;
      height: 400px;
      margin: 30px;
      width: 455px; }
    .tab-content-container .tab-content .text-container {
      display: flex;
      flex-direction: column;
      margin: 30px;
      width: 60%; }
      .tab-content-container .tab-content .text-container h1 {
        border-bottom: 2px solid #d1d2d3;
        font-size: 18pt;
        font-weight: 600;
        margin: 25px 0;
        padding-bottom: 15px; }
      .tab-content-container .tab-content .text-container p {
        font-size: 14pt;
        font-weight: 300;
        margin: 10px 0; }
  .tab-content-container .tab-content.none {
    display: none; }
  .tab-content-container #tab-2 {
    background-image: url("http://lorempicsum.com/futurama/627/300/4");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .tab-content-container #tab-2 .text-container {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      padding: 15px; }

@media screen and (max-width: 775px) {
  .tabs-container {
    flex-direction: column;
    border: 2px solid #d1d2d3;
    width: 95%; }
    .tabs-container .tab {
      position: relative;
      border: 2px solid #fff;
      text-align: left;
      text-indent: 30px;
      width: 100%; }
      .tabs-container .tab .mobile-open {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
        background: #666;
        transition: 0.5s;
        height: 2px;
        width: 20px; }
        .tabs-container .tab .mobile-open .mobile-open {
          right: 0;
          top: 0;
          transform: rotate(90deg); }
    .tabs-container .tab.active-tab {
      border: 2px solid #fff;
      margin: 0;
      padding-bottom: 0;
      z-index: 10; }
      .tabs-container .tab.active-tab .mobile-open.mobile-open {
        transform: rotate(180deg); }
      .tabs-container .tab.active-tab .tab-content-container {
        margin: 20px 0 0;
        width: 100%; }
        .tabs-container .tab.active-tab .tab-content-container .tab-content {
          flex-direction: column;
          border: none; }
          .tabs-container .tab.active-tab .tab-content-container .tab-content .image {
            margin: 0;
            width: 100%; }
          .tabs-container .tab.active-tab .tab-content-container .tab-content .text-container {
            width: 90%; }
            .tabs-container .tab.active-tab .tab-content-container .tab-content .text-container h1,
            .tabs-container .tab.active-tab .tab-content-container .tab-content .text-container p {
              color: black;
              text-indent: 0;
              margin: 0; }
            .tabs-container .tab.active-tab .tab-content-container .tab-content .text-container p {
              margin-top: 20px; } }

.Cards-container {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 85%; }
  .Cards-container .card {
    border: 2px solid #d1d2d3; }
    .Cards-container .card h2 {
      border-bottom: 2px solid #d1d2d3;
      padding: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .Cards-container .card .card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f2f2f2;
      height: 150px; }
  .Cards-container .item-1 {
    grid-column-start: 1;
    grid-column-end: 3; }
  .Cards-container .item-7 {
    grid-column-start: 2;
    grid-column-end: 4; }

@media screen and (max-width: 775px) {
  .Cards-container {
    display: flex;
    flex-direction: column;
    width: 95%; }
    .Cards-container .card {
      margin: 10px 0; } }

.Header-bar {
  width: 85%; }
  .Header-bar .Header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #d1d2d3;
    font-size: 16pt;
    font-weight: 300;
    padding: 20px; }
    .Header-bar .Header .header-img {
      background: #f2f2f2;
      border: 2px solid #666;
      border-radius: 100%;
      min-width: 75px;
      height: 75px; }
    .Header-bar .Header .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 300px; }
      .Header-bar .Header .nav-links .nav-item {
        cursor: pointer;
        color: #666;
        list-style: none;
        margin: 0 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .Header-bar .Header .nav-links .nav-item:hover {
          color: #f2f2f2; }
    .Header-bar .Header .search-bar {
      flex: none;
      background: #f2f2f2;
      border: 2px solid #666;
      font-size: 16pt;
      padding-left: 15px; }
      .Header-bar .Header .search-bar .fa-search {
        color: #666; }
      .Header-bar .Header .search-bar .search {
        background: #f2f2f2;
        border: none;
        font-size: 16pt;
        font-weight: 300;
        padding: 10px; }
    .Header-bar .Header .menu {
      display: none; }

@media screen and (max-width: 775px) {
  .Header-bar {
    width: 95%;
    background: #f2f2f2; }
    .Header-bar .Header {
      justify-content: space-between; }
      .Header-bar .Header .nav-links {
        display: none; }
      .Header-bar .Header .search-bar {
        display: none; }
      .Header-bar .Header .menu {
        display: block;
        color: #666;
        cursor: pointer;
        font-weight: 300; }
        .Header-bar .Header .menu:hover {
          color: #f2f2f2; }
    .Header-bar .nav-links {
      padding: 30px;
      flex-direction: column;
      justify-content: space-between;
      height: 235px; }
      .Header-bar .nav-links .nav-item {
        cursor: pointer;
        color: #666;
        font-size: 20pt;
        list-style: none; }
        .Header-bar .nav-links .nav-item:hover {
          font-weight: 600; }
    .Header-bar .search-bar {
      flex: none;
      background: #f2f2f2;
      border: 2px solid #666;
      font-size: 20pt;
      margin: 15px;
      padding-left: 15px; }
      .Header-bar .search-bar .fa-search {
        color: #666; }
      .Header-bar .search-bar .search {
        background: #f2f2f2;
        border: none;
        font-size: 20pt;
        font-weight: 300;
        padding: 10px; } }
