@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f2235;
  color: #f2f2f2;
  padding: 15px 55px; }
  header h1 {
    font-weight: 300; }
    header h1 span {
      color: #34d1d1; }
  header .divider-line {
    display: none; }
  header h2 {
    font-weight: 600; }

.pattern {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pattern .divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px;
    width: 100%; }
    .pattern .divider h3 {
      font-weight: 300; }
    .pattern .divider .divider-line {
      background: #d1d2d3;
      width: 80%;
      height: 2px; }
  .pattern .btn {
    background: #3f3244;
    border: none;
    font-size: 16pt;
    font-weight: 300;
    color: #f2f2f2;
    width: 300px;
    align-self: center;
    padding: 10px;
    justify-self: flex-end;
    margin: 50px; }
    .pattern .btn a {
      text-decoration: none;
      color: #fff; }

.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%; }
  .tabs-container .tab {
    background: #f2f2f2;
    color: #666;
    width: 25%;
    font-size: 18pt;
    font-weight: 300;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    border-left: 2px solid #fff; }
    .tabs-container .tab:first-child {
      border-left: 2px solid #f2f2f2; }
    .tabs-container .tab .mobile-open {
      display: none; }
  .tabs-container .tab.active-tab {
    font-weight: 600;
    border: 2px solid #d1d2d3;
    border-bottom: 1px solid #fff;
    background: #fff;
    z-index: 10;
    margin-bottom: -3px; }
  .tabs-container .tab.active-tab + .tab {
    border-left: 2px solid #f2f2f2; }

.tab-content-container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .tab-content-container .tab-content {
    top: 63px;
    border: 2px solid #d1d2d3;
    border-top: 2px solid #d1d2d3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .tab-content-container .tab-content .image {
      margin: 30px;
      width: 455px;
      height: 400px;
      border: 2px solid #d1d2d3;
      background: #f2f2f2; }
    .tab-content-container .tab-content .text-container {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: 30px; }
      .tab-content-container .tab-content .text-container h1 {
        font-size: 18pt;
        border-bottom: 2px solid #d1d2d3;
        padding-bottom: 15px;
        margin: 25px 0;
        font-weight: 600; }
      .tab-content-container .tab-content .text-container p {
        margin: 10px 0;
        font-weight: 300;
        font-size: 14pt; }
  .tab-content-container .tab-content.none {
    display: none; }
  .tab-content-container #tab-2 {
    background-image: url("http://lorempicsum.com/futurama/627/300/4");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .tab-content-container #tab-2 .text-container {
      background: rgba(255, 255, 255, 0.8);
      padding: 15px;
      border-radius: 5px; }

@media screen and (max-width: 775px) {
  header {
    flex-direction: column; }
    header .divider-line {
      display: inline-block;
      background: #666;
      width: 30%;
      height: 2px;
      margin: 20px 0; }
    header h2 {
      font-size: 14pt; }
  .pattern {
    height: auto;
    padding-bottom: 50px; }
    .pattern .divider {
      flex-direction: column; }
      .pattern .divider .divider-line {
        width: 30%;
        margin-top: 15px; }
  .tabs-container {
    flex-direction: column;
    width: 95%;
    border: 2px solid #d1d2d3; }
    .tabs-container .tab {
      border: 2px solid #fff;
      width: 100%;
      text-align: left;
      text-indent: 30px;
      position: relative; }
      .tabs-container .tab .mobile-open {
        transition: 0.5s;
        display: block;
        height: 2px;
        width: 20px;
        background: #666;
        position: absolute;
        right: 30px;
        top: 30px; }
        .tabs-container .tab .mobile-open .mobile-open {
          right: 0;
          top: 0; }
    .tabs-container .tab.active-tab {
      border: 2px solid #fff;
      z-index: 10;
      margin: 0;
      padding-bottom: 0; }
      .tabs-container .tab.active-tab .mobile-open {
        transform: rotate(90deg); }
      .tabs-container .tab.active-tab .tab-content-container {
        width: 100%;
        margin: 20px 0 0; }
        .tabs-container .tab.active-tab .tab-content-container .tab-content {
          border: none;
          flex-direction: column; }
          .tabs-container .tab.active-tab .tab-content-container .tab-content .image {
            width: 100%;
            margin: 0; }
          .tabs-container .tab.active-tab .tab-content-container .tab-content .text-container {
            width: 90%; }
            .tabs-container .tab.active-tab .tab-content-container .tab-content .text-container h1,
            .tabs-container .tab.active-tab .tab-content-container .tab-content .text-container p {
              margin: 0;
              text-indent: 0;
              color: black; }
            .tabs-container .tab.active-tab .tab-content-container .tab-content .text-container p {
              margin-top: 20px; } }

.Cards-container {
  width: 85%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; }
  .Cards-container .card {
    border: 2px solid #d1d2d3; }
    .Cards-container .card h2 {
      border-bottom: 2px solid #d1d2d3;
      padding: 20px; }
    .Cards-container .card .card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f2f2f2;
      height: 150px; }
      .Cards-container .card .card-content .cross {
        height: 2px;
        background: #d1d2d3;
        width: auto;
        transform: rotate(45deg); }
  .Cards-container .item-1 {
    grid-column-start: 1;
    grid-column-end: 3; }
  .Cards-container .item-7 {
    grid-column-start: 2;
    grid-column-end: 4; }
