@import './variables.scss';

* {
  margin: 0;
}

body {
  font-family: $font-fam;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $purple;
  color: $lt-grey;
  padding: 15px 55px;
  h1 {
    font-weight: $light;
    span {
      color: $teal;
    }
  }
  h2 {
    font-weight: $heavy;
  }
}

main {

  section {
    display: flex;
    flex-direction: column;
    .divider {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 55px;
      h3 {
        font-weight: $light;
      }
      .divider-line {
        background: $md-grey;
        width: 80%;
        height: 2px;
      }
    }
    .tabs-container {
      border: 2px solid $md-grey;
      width: 85%;
      height: 550px;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .tabs {
        padding: 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        li {
          background: $lt-grey;
          width: 25%;
          font-size: 18pt;
          font-weight: $light;
          text-align: center;
          padding: 15px 0;
          cursor: pointer;
        }
        .tab-active {
          background: $white;
        }
      }
      .tab-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 90%;
        .image {
          width: 400px;
          height: 400px;
          border: 2px solid $md-grey;
          background: $lt-grey;
        }
        .text-container {
          display: flex;
          flex-direction: column;
          width: 60%;
          margin-left: 25px;
          h1 {
            font-size: 20pt;
            border-bottom: 2px solid $md-grey;
            padding-bottom: 15px;
            margin: 25px 0;
            font-weight: $heavy;
          }
          p {
            margin: 10px 0;
            font-weight: $light;
            font-size: 16pt;
          }
        }
      }
    }
    .btn {
      background: $muted-purple;
      border: none;
      font-size: 16pt;
      font-weight: $light;
      color: $lt-grey;
      width: 28%;
      align-self: center;
      padding: 10px;
      margin: 100px;
    }
  }
}