@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-fam: 'Open Sans', sans-serif;
$heavy: 600;
$light: 300;

$teal: #34d1d1;
$purple: #2f2235;
$muted-purple: #3f3244;
$lt-grey: #f2f2f2;
$md-grey: #d1d2d3;
$drk-grey: #666;
$black: #000;
